
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";

}
@* burayı en son yaptığım için görüntüye çok uğraşmadım *@
<a style="margin: 20px; color: #8EB7ED;position:absolute;text-decoration:underline;" download href="~/Data.txt">Veri Tabanını Yükle</a>
<br />
<small style="margin: 20px;margin-top:40px; color: #8EB7ED;position:absolute;">Yüklediğiniz Dosyayı Belgeler Klasörünün içinedi AnInterestingDesktopAppName Klasörüne Atın <br />(Atmadan Önce Eski Dosyayı Silin)</small>
<br />
<br />
<br />
<br />
<br />
@if (ViewBag.message != null)
{
    <label>
        @ViewBag.message;
    </label>
}
<br />
<br />
<br />
@using (Html.BeginForm("Index", "AnaMenu", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div style="background-color: #293545 ;padding:5px;" class="objectsItems">
        <div class="objectsItem">
            <label>Veri Tabanı:</label>
            <br />
            <input type="file" name="dbu" class="dosyaYukle" />
            <br />
            <input type="submit" name="name" value="Veri Tabanını Güncelle" />
        </div>
    </div>
}
