@model AnInterestingWebSiteName.Classes.MagazaList
@{
    ViewBag.Title = "TagIndex";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<head>
    <link href="~/Assets/Css/UserView.css" rel="stylesheet" />
</head>

<div class="tasiyici">
    <div class="list">

        @foreach (AnInterestingWebSiteName.Models.Tag item in Model.Tag)
        {
            <a class="tagLink" href="@Url.Action("Index",new {ID = item.ID})">
                <div class="listTags">@item.Ad<label>&nbsp;&nbsp;&nbsp;&nbsp;</label></div>
            </a>
        }

    </div>
</div>