@model AnInterestingWebSiteName.Models.Yonetici
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}


<div class="form">
    <div class="objectsItems">

        <div class="objectsItem">

            Yetkiniz Yetersiz
            <hr style="color: #7ECBD3"/>
            <small>
                
                Eğer bunu bir hata olduğunu düşünüyorsanız daha yüksek yetkili birinden yardım isteyiniz
            </small>
        </div>

    </div>
</div>

