@model AnInterestingWebSiteName.Models.TagsVeUrunAraClass
@{
    ViewBag.Title = "UrunTagCreate";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class=" form">
    <div class="baslik">
        Ürüne Etiket Ekleme
        <a href="@Url.Action("UrunIndex","Tag",new {ID = Model.Urun_ID })" style="margin-left:20px;">Geri Dön</a>
        @if (ViewBag.message != null)
        {
            <label>@ViewBag.message</label>
        }
    </div>
    <div class="objectsItems">

        @using (Html.BeginForm())
        {

            <div class="objectsItem">
                Seçilecek Etiket:
                <br />
                @Html.DropDownListFor(model => model.Tag_ID, new SelectList(ViewBag.Etiketler, "Value", "Text"), htmlAttributes: new { @class = "dropDown" })
            </div>

            <div class="objectsItem">
                <input type="submit" name="submit" value="Etiketi Ekle" />
            </div>
        }

    </div>
</div>