*, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    background-color: #38452D /*açık yeşil bg*/;
}

a {
    text-decoration: none;
}

.topBar {
    width: 100%;
    min-height: 45px;
    background-color: #243830 /*açık yeşil bg*/;
    position: fixed;
    z-index:99999999;
    text-align:center;
}

.leftBar {
    width: 20%;
    margin-top: 45px;
    height: 600px;
    float: left;
    background-color: #293545 /*mavi bg*/;
}


.body {
    float: left;
    margin: 45px 0px 0px 0px;
    min-width:70%;
    max-width:78%;
}

.kullaniciBar {
    width: contain;
    height: 60px;
    background-color: #2F4C4F;
}

    .kullaniciBar:hover {
        border-right: solid 3px #3e6468;
        border-bottom: solid 3px #3e6468;
        height: 57px;
    }

    .kullaniciBar a {
        color: #7ECBD3;
    }

.menuBar {
    margin-top: 20px;
    list-style-type: none;
}

    .menuBar li {
        padding: 5px;
    }

    .menuBar a {
        width: contain;
        text-decoration: none;
    }

        .menuBar a li {
            background-color: #2F4C4F;
            padding: 9px 10px 10px 10px;
            border-top: 1px solid #293545;
            color: #7ECBD3;
        }

            .menuBar a li:hover {
                border-bottom: 3px solid #7ECBD3;
                border-right: 3px solid #7ECBD3;
                padding: 9px 7px 7px 10px;
            }

.userDiv {
    width:400px;
    margin-left:auto;
    margin-right:auto;

}

.kullaniciInfo {
    color: #7DC2A6;
}

.profilFotografi{
    float:right;
    height:54px;
    width:54px;
    margin:3px 5px 5px 180px;
    position:absolute;
    border-radius:1000px;
    border:1px solid #00000000;

}

.profilFotografi:hover{
    height:max-content;
    width:max-content;
    position:absolute;
    z-index:999;
}