@model AnInterestingWebSiteName.Classes.Pay
@{
    ViewBag.Title = "Pay";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<head>
    <link href="~/Assets/Css/OdemeCss.css" rel="stylesheet" />
</head>


<div class="tasiyici">
    <div class="payGiris">
        @using (Html.BeginForm())
        {

            <div>

                <div class="inputItem" style="margin-top:0;">
                    Kart Sahibinin Adı
                    <br />
                    <input type="text" name="Name" placeholder="Adınız" class="input" />
                </div>

                <div class="inputItem" style="margin-left: 42px; margin-top: 0;">
                    Kart Numarası
                    <br />
                    <input type="text" name="CardNo" placeholder="XXXX XXXX XXXX XXXX" class="input" />
                </div>

                <div class="inputItem">
                    Kart Sahibinin Soyadı
                    <br />
                    <input type="text" name="Surname" placeholder="Soyadınız" class="input" />
                </div>

                <div class="inputItem" style="margin-left:42px;">
                    <label style="position:absolute;">Son Kullanma Tarihi</label>
                    <br />
                    <select name="reqYear" class="input" style="width:90px;">
                        @foreach (SelectListItem item in ViewBag.Yil)
                        {
                            <option>@item.Text</option>
                        }
                    </select>
                </div>

                <div class="inputItem" style="margin-left:4px">
                    <br />
                    <select name="reqMonth" class="input" style="width:90px;">
                        @foreach (SelectListItem item in ViewBag.Ay)
                        {
                            <option>@item.Text</option>
                        }
                    </select>
                </div>

                <div class="filler">
                </div>

                <div class="inputItem">
                    CVC Kodu
                    <br />
                    <input type="text" name="CVC" placeholder="CVC Kodu" class="input" maxlength="4" />
                </div>

                <div class="altPart">
                    <small style="color: #8EB7ED;">Ödemeyi Tamamlayarak <a target="_blank" href="@Url.Action("KullanimSartlariSatinAlim","Info")" style="color:#7DC2A6;text-decoration:none;">Kullanım Şartlarımızı</a> Kabul Etmiş Olursunuz</small>

                    @if (TempData["errorMessage"] != null)
                    {
                        <br />
                        <br />
                        <label style="color:#7DC2A6;">
                            @TempData["errorMessage"]
                        </label>
                    }
                    <div>
                        <input type="submit" name="name" value="Öde" class="submit" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="kartlar">
        <img src="~/Fotograflar/Etc/Kartlar.jpeg" alt="Alternate Text" />
    </div>
</div>