* {
    scrollbar-arrow-color: rgba(41,53,69,1) !important;
    scrollbar-face-color: rgba(41,53,69,1) !important;
    scrollbar-width: thin;
    color:#8EB7ED;
}

* {
    margin: 0;
    padding: 0;
}

.blurGradient {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,293545+100&0.67+0,1+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.67) 0%, rgba(41,53,69,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.67) 0%,rgba(41,53,69,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.67) 0%,rgba(41,53,69,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab000000', endColorstr='#293545',GradientType=0 ); /* IE6-9 */
    position: relative;
    z-index: 1 !important;
    height: 2000px;
}

.arkaPlan {
}

.maink {
    background: rgb(47,76,79); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(47,76,79) 0%, rgb(41,53,69) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgb(47,76,79) 0%,rgb(41,53,69) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(47,76,79) 0%,rgb(41,53,69) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f4c4f', endColorstr='#293545',GradientType=0 ); /* IE6-9 */
}

.list {
    background: rgb(47,76,79); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(47,76,79) 0%, rgb(41,53,69) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgb(47,76,79) 0%,rgb(41,53,69) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(47,76,79) 0%,rgb(41,53,69) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f4c4f', endColorstr='#293545',GradientType=0 ); /* IE6-9 */
    position: relative;
    z-index: 50;
}

.main {
    padding-top: 0 !important;
}

.maink {
    width: 99.9%;
    height: 2000px;
    border: 1px solid #5c5c5c;
}

.list {
    border: 1px solid #5c5c5c;
    width: 20%;
    height: 2000px;
    float: left;
}

.firmaFotograf {
    width: 20px;
    padding: 3px;
    float: left;
    border-radius: 50px;
}

.listItem {
    height: 26px;
    background-color: #293545;
    width: 100%;
    cursor: pointer;
}

    .listItem:hover {
        border-bottom: 2px solid #637a9b;
        height: 24px;
    }

.Ad {
    padding-right: 5px;
    padding-top: 3px;
    color: #8EB7ED;
    float: right;
    cursor: pointer;
}

.sagList {
    /*border: 1px solid #5c5c5c;*/
    width: 79.5%;
    float: left;
}

.urun {
}

.placeHolder {
    border: 2px solid black;
    float: left;
}

.placeHolderItem {
    width: 300px;
    background-color: #293545;
    height: 160px;
}

.kutuphaneImage {
    width: 300px;
    height: 140px;
}

.urunInfo {
    color: #8EB7ED;
    text-align: center;
}

.oyunArkaPlanImage {
    position: absolute;
    z-index: 2;
    width: 79.5%;
}

.imageBlur {
    margin-top: 300px;
    position: absolute;
    z-index: 0 !important;
    filter: blur(20px);
    height: 1500px;
}

.infobg {
    z-index: 999;
    position: absolute;
    width: 79.5%;
    margin-top: -1650px;
    background-color:transparent;
    /*background-color: rgb(41, 53, 69, 0.003)!important;*/
    height: 1652px;
}

.oyunLink{
    margin:29px 86px;
    display:block;
    float:left;
}

.info {
    position: absolute;
    width: 79.5%;
    color: #8EB7ED !important;
    opacity: 1 !important;
    margin: 20px;
}

.OYNA {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#40a560+0,74809e+100 */
    background: rgb(64,165,96); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(64,165,96,1) 0%, rgba(116,128,158,1) 100%); /* FF3.6-15 */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(64,165,96,1)), color-stop(100%,rgba(116,128,158,1))); /* Chrome4-9,Safari4-5 */
    background: -webkit-linear-gradient(left, rgba(64,165,96,1) 0%,rgba(116,128,158,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(left, rgba(64,165,96,1) 0%,rgba(116,128,158,1) 100%); /* Opera 11.10-11.50 */
    background: -ms-linear-gradient(left, rgba(64,165,96,1) 0%,rgba(116,128,158,1) 100%); /* IE10 preview */
    background: linear-gradient(to right, rgba(64,165,96,1) 0%,rgba(116,128,158,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40a560', endColorstr='#74809e',GradientType=1 ); /* IE6-9 */
}

.OYNA {
    color: #BEEE11;
    border-color: #4c6b22;
    font-size: 32pt;
    cursor: pointer;
    float: left;
    border-radius: 5px;
    padding: 10px 30px;
}

.aciklama {
    margin-top:20px;
    float:left;
}

*::-webkit-scrollbar:hover {
    width: 8px;
}
