* {
    padding: 0;
    margin: 0;
}

.gradientBackground {
    margin-top: 0;
    background: rgb(47,76,79); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(47,76,79) 0%, rgb(41,53,69) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgb(47,76,79) 0%,rgb(41,53,69) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(47,76,79) 0%,rgb(41,53,69) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f4c4f', endColorstr='#293545',GradientType=0 ); /* IE6-9 */
    height: 100vh;
}

.tasiyici {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    min-height: 250px;
    background-color: #293545;
    border: 1px solid #5c5c5c;
}

.items {
    background-color: #2F4C4F;
    color: #7ECBD3;
    margin: 5px;
    padding: 5px;
}

    .items input[type=text] {
        background-color: #293545;
        border-color: #7ECBD3;
        color: #8EB7ED;
        width: 98%;
        min-height: 18px;
        outline: none;
    }

    .items input[type=submit] {
        background-color: #293545;
        border-color: #7ECBD3;
        color: #8EB7ED;
        width: 100%;
        min-height: contain;
        outline: none;
        padding:5px;
    }

    .items input[type=submit]:hover {
        cursor: pointer;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#8eb7ed+0,293545+20,293545+80,8eb7ed+100 */
        background: rgb(142,183,237); /* Old browsers */
        background: -moz-linear-gradient(45deg, rgba(142,183,237,1) 0%, rgba(41,53,69,1) 20%, rgba(41,53,69,1) 80%, rgba(142,183,237,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, rgba(142,183,237,1) 0%,rgba(41,53,69,1) 20%,rgba(41,53,69,1) 80%,rgba(142,183,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, rgba(142,183,237,1) 0%,rgba(41,53,69,1) 20%,rgba(41,53,69,1) 80%,rgba(142,183,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
