/*Arkaplan Rengi*/
.bgRenk1 {
    color: #293545 /*koyu mavi*/ /*layout kullanımında*/;
}

.bgRenk2 {
    color: #2F4C4F /*açık mavi*/ /*layout kullanımında*/;
}

.bgRenk3 {
    color: #243830 /*koyu yeşil*/ /*layout kullanımında*/;
}

.bgRenk4 {
    color: #2F4F32 /*açık yeşil*/;
}

.bgRenk5 {
    color: #38452D /*koyu2 yeşil*/ /*arkaplan*/;
}
/*Yazı Renkleri*/
.renk1 {
    color: #8EB7ED;
}

.renk2 {
    color: #7ECBD3;
}

.renk3 {
    color: #7DC2A6;
}

.renk4 {
    color: #89E594;
}

.renk5 {
    color: #C5F19F;
}

/*#7DC2A6*/
