.sepetTasiyici {
    margin-left: auto;
    margin-right: auto;
    width:800px;
    border:2px solid #5c5c5c;
}

.sepetItem {
    float: left;
    border: 2px solid #5c5c5c;
    min-width:786px;
    padding:5px;
}

.sepetiBosalt {
    color: #7DC2A6;
    text-decoration:none;
}

.sepetFotografi {
    width: 400px;
    height:187px;
    float: left;
}

.sepetUrunInfo {
    float: right;
    min-width:200px;
    margin-top:50px;
    color: #8EB7ED;
}

.tamamla{
    border:2px solid #5c5c5c;
    color:#8EB7ED;
}

.ODEGradient {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#9ca81c+0,536836+100 */
    background: rgb(156,168,28); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(156,168,28,1) 0%, rgba(83,104,54,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(156,168,28,1) 0%,rgba(83,104,54,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(156,168,28,1) 0%,rgba(83,104,54,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ca81c', endColorstr='#536836',GradientType=1 ); /* IE6-9 */
}

.ODE {
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px 5px;
    margin-bottom:5px;
    color: #BEEE11;
    text-decoration:none;
}