.tasiyici {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.item {
    width: 100%;
    float: left;
    padding: 5px;
    background-color: #29354548;
}

.userImage {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 999px;
    border: 1px solid #000000ff;
}

.ad {
    color: #8EB7ED;
    float: left;
    margin-left: 20px;
    margin-top: 10.5px;
}
