.tasiyici {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    padding:10px;
    background-color: #29354576;
}


.objectsItems {
    margin-top:10px;
    color: #7DC2A6;
}

    .objectsItems input[type=text], input[type=number] {
        background-color: #293545;
        border-color: #7ECBD3;
        color: #8EB7ED;
        width: 100%;
        min-height: 18px;
        outline: none;
    }

    .objectsItems input[type=submit]:hover {
        cursor: pointer;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#8eb7ed+0,293545+20,293545+80,8eb7ed+100 */
        background: rgb(142,183,237); /* Old browsers */
        background: -moz-linear-gradient(45deg, rgba(142,183,237,1) 0%, rgba(41,53,69,1) 20%, rgba(41,53,69,1) 80%, rgba(142,183,237,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, rgba(142,183,237,1) 0%,rgba(41,53,69,1) 20%,rgba(41,53,69,1) 80%,rgba(142,183,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, rgba(142,183,237,1) 0%,rgba(41,53,69,1) 20%,rgba(41,53,69,1) 80%,rgba(142,183,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

    .objectsItems input[type=submit] {
        background-color: #293545;
        border-color: #7ECBD3;
        color: #8EB7ED;
        width: 100%;
        min-height: 30px;
        outline: none;
    }

    .objectsItems a {
        color: #7DC2A6;
        text-decoration: underline;
    }

.objectsItem input[type="file"] {
    display: none;
}